<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>google map</title>
</head>
<body>
<!-- <p>-->
<!--   <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d62962.63774521186!2d76.28371801268074!3d9.49438659007117!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b0884f8ebdff49d%3A0x33b051c9aedb3e8c!2sKochukada%20bridge!5e0!3m2!1sen!2sin!4v1699623170160!5m2!1sen!2sin" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>-->
<!-- </p>-->
<!--{% with address="address" %}-->
<!--    <a href="https://www.google.com/maps/search/?api=1&query={{ i.address|urlencode }}">-->
<!--        Open in Google Maps-->
<!--    </a>-->
<!--{% endwith %}-->

<a href="{% url 'redirect_to_google_maps' address=data.address %}">
    Open in Google Maps
</a>
</body>
</html>