
<!DOCTYPE html>
{% load static %}
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>petshop</title>


    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.min.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/font-awesome.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/templatemo-hexashop.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/owl-carousel.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/lightbox.css' %}">
<!--

TemplateMo 571 Hexashop

https://templatemo.com/tm-571-hexashop

-->
    </head>

    <body>
    <script src="//code.tidio.co/npafbk1qqii2llkd9w5qdqsdrb9jykpw.js" async></script>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->


    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="index.html" class="logo">
                            <img src="{% static 'assets/images/logo_pet1-removebg-preview.png' %}" style="margin-left:-100px;margin-top:-35px;height:160px">
                        </a>
                        <label style="font-size:35px;margin-left:-40px;margin-top:25px">Pawshop</label>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav" style="margin-left:-50px">

                            <li class="scroll-to-section"><a href="#top" class="active" >Home</a></li>
                            <li class="scroll-to-section"><a href="{% url 'breed_page' %}" class="">Breeds</a></li>

                            <li class="scroll-to-section"><a href=""></a></li>

                            <li class="submenu">
                                <a href="javascript:;" style="margin-left:-40px">Your account</a>
                                <ul>
<!--                                    <li><a href="about.html">About Us</a></li>-->
                                    <li><a href="{% url 'user_address' %}"> Add Address</a></li>
                                    <li><a href="{% url 'display_address' %}"> your Address</a></li>
                                    <li><a href="{% url 'whislist_page' %}">wishlist</a></li>
                                    <li><a href="{% url 'buypage' %}">Cart page</a></li>
                                </ul>
                            </li>

                             <li class="submenu">
                                <a href="javascript:;" style="margin-left:-10px">seller</a>
                                <ul>
<!--                                    <li><a href="about.html">About Us</a></li>-->
                                    <li><a href="{% url 'sell_page' %}"> Add pets</a></li>
                                    <li><a href="{% url 'display_sale' %}"> your pets</a></li>

                                </ul>
                            </li>

                            <li class="submenu">
                                <a href="javascript:;">Features</a>
                                <ul>
                                    <li><a href="{% url 'aboutus_page' %}">About us</a></li>
                                    <li><a href="{% url 'service_page' %}">Services</a></li>
                                    <li><a href="{% url 'contact_us' %}">Contact us</a></li>
<!--                                    <li><a rel="nofollow" href="https://templatemo.com/page/4" target="_blank">Template Page 4</a></li>-->
                                </ul>
                            </li>
                            	{% if request.session.uname %}
                            <li class=""><a href="{% url 'logout_user' %}" style="font-size:11px;margin-left:200px" ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
  <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
  <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
</svg> welcome {{request.session.uname}}/logout</a></li>
                            {% else %}
						<li><a href="{% url 'user_login' %}"><i class="fa fa-user-o">Register or login</i></a></li>
						{% endif %}
                        </ul>

                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>

                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Main Banner Area Start ***** -->
    <div class="main-banner" id="top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="left-content">
                        <div class="thumb">
                            <div class="inner-content">
                                <h4> pawshop</h4>
                                <span>An animal’s eyes have the power to speak a great language</span>
                                <div class="main-border-button">
                                    <a href="{% url 'breed_page' %}">Purchase Now!</a>
                                </div>
                            </div>
                            <img src="{% static 'assets/images/pets.jpg' %}" alt="">


              </div>
                    </div>
                </div>


<!--                         <video width="640" height="360" controls>-->
<!--        <source src="{% static 'pexels_videos_2693 (1080p).mp4.mp4' %}" type="video/mp4">-->
<!--        Your browser does not support the video tag.-->
<!--    </video>-->

                <div class="col-lg-6">

                    <div class="right-content">

                        <div class="row">
                             {% for i in data %}

                            <div class="col-lg-6">

                                <div class="right-first-image">

                                    <div class="thumb">

                                        <div class="inner-content">

                                            <h4 style="color:white">{{i.sname}}</h4>
                                            <span>Shop here</span>
                                        </div>
                                        <div class="hover-content">
                                            <div class="inner">
                                                <h4>{{i.sname}}</h4>
                                                <p></p>
                                                <div class="main-border-button">
                                                    <a href="{% url 'product_page' cat_name=i.sname %}">Shop now</a>
                                                </div>
                                            </div>
                                        </div>


                                        <img src="{{i.simg.url}}" height="200px" width="150px">

                                    </div>

                                </div>

                            </div>
                              {% endfor %}




<!--                            <div class="col-lg-6">-->
<!--                                <div class="right-first-image">-->
<!--                                    <div class="thumb">-->
<!--                                        <div class="inner-content">-->
<!--                                            <h4>Men</h4>-->
<!--                                            <span>Best Clothes For Men</span>-->
<!--                                        </div>-->
<!--                                        <div class="hover-content">-->
<!--                                            <div class="inner">-->
<!--                                                <h4>Men</h4>-->
<!--                                                <p>Lorem ipsum dolor sit amet, conservisii ctetur adipiscing elit incid.</p>-->
<!--                                                <div class="main-border-button">-->
<!--                                                    <a href="#">Discover More</a>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        <img src="{% static 'assets/images/baner-right-image-02.jpg' %}">-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="col-lg-6">-->
<!--                                <div class="right-first-image">-->
<!--                                    <div class="thumb">-->
<!--                                        <div class="inner-content">-->
<!--                                            <h4>Kids</h4>-->
<!--                                            <span>Best Clothes For Kids</span>-->
<!--                                        </div>-->
<!--                                        <div class="hover-content">-->
<!--                                            <div class="inner">-->
<!--                                                <h4>Kids</h4>-->
<!--                                                <p>Lorem ipsum dolor sit amet, conservisii ctetur adipiscing elit incid.</p>-->
<!--                                                <div class="main-border-button">-->
<!--                                                    <a href="#">Discover More</a>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        <img src="{% static 'assets/images/baner-right-image-03.jpg' %}">-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="col-lg-6">-->
<!--                                <div class="right-first-image">-->
<!--                                    <div class="thumb">-->
<!--                                        <div class="inner-content">-->
<!--                                            <h4>Accessories</h4>-->
<!--                                            <span>Best Trend Accessories</span>-->
<!--                                        </div>-->
<!--                                        <div class="hover-content">-->
<!--                                            <div class="inner">-->
<!--                                                <h4>Accessories</h4>-->
<!--                                                <p>Lorem ipsum dolor sit amet, conservisii ctetur adipiscing elit incid.</p>-->
<!--                                                <div class="main-border-button">-->
<!--                                                    <a href="#">Discover More</a>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        <img src="{% static 'assets/images/baner-right-image-04.jpg' %}">-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
                        </div>

                    </div>

                </div>

            </div>

        </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->

    <!-- ***** Men Area Starts ***** -->
    <section class="section" id="">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-heading">
                        <h2>Pets..</h2>
                        <span>choose yours</span>
                    </div>
                </div>
            </div>
        </div>





<!--                            <div class="item">-->
<!--                                <div class="thumb">-->
<!--                                    <div class="hover-content">-->
<!--                                        <ul>-->
<!--                                            <li><a href="single-product.html"><i class="fa fa-eye"></i></a></li>-->
<!--                                            <li><a href="single-product.html"><i class="fa fa-star"></i></a></li>-->
<!--                                            <li><a href="single-product.html"><i class="fa fa-shopping-cart"></i></a></li>-->
<!--                                        </ul>-->
<!--                                    </div>-->
<!--                                    <img src="{% static 'assets/images/men-01.jpg' %}" alt="">-->
<!--                                </div>-->
<!--                                <div class="down-content">-->
<!--                                    <h4>Classic Spring</h4>-->
<!--                                    <span>$120.00</span>-->
<!--                                    <ul class="stars">-->
<!--                                        <li><i class="fa fa-star"></i></li>-->
<!--                                        <li><i class="fa fa-star"></i></li>-->
<!--                                        <li><i class="fa fa-star"></i></li>-->
<!--                                        <li><i class="fa fa-star"></i></li>-->
<!--                                        <li><i class="fa fa-star"></i></li>-->
<!--                                    </ul>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="item">-->
<!--                                <div class="thumb">-->
<!--                                    <div class="hover-content">-->
<!--                                        <ul>-->
<!--                                            <li><a href="single-product.html"><i class="fa fa-eye"></i></a></li>-->
<!--                                            <li><a href="single-product.html"><i class="fa fa-star"></i></a></li>-->
<!--                                            <li><a href="single-product.html"><i class="fa fa-shopping-cart"></i></a></li>-->
<!--                                        </ul>-->
<!--                                    </div>-->
<!--                                    <img src="{% static 'assets/images/men-02.jpg' %}" alt="">-->
<!--                                </div>-->
<!--                                <div class="down-content">-->
<!--                                    <h4>Air Force 1 X</h4>-->
<!--                                    <span>$90.00</span>-->
<!--                                    <ul class="stars">-->
<!--                                        <li><i class="fa fa-star"></i></li>-->
<!--                                        <li><i class="fa fa-star"></i></li>-->
<!--                                        <li><i class="fa fa-star"></i></li>-->
<!--                                        <li><i class="fa fa-star"></i></li>-->
<!--                                        <li><i class="fa fa-star"></i></li>-->
<!--                                    </ul>-->
<!--                                </div>-->
<!--                            </div>-->
        <div class="container">

            <div class="row">
                {% for i in pet %}
                  <div class="col-lg-4">

                            <div class="item">
                                <div class="thumb">

                                    <div class="hover-content">
                                        <ul style="margin-left:-900px">

                                           <div class="main-border-button">
                                                    <a href=""></a>
                                                </div>
<!--                                            <li><a href="single-product.html"><i class="fa fa-heart"></i></a></li>-->
<!--                                            <li><a href="single-product.html"><i class="fa fa-star"></i></a></li>-->
<!--                                            <li><a href=""><i class="fa fa-shopping-cart"></i></a></li>-->

                                        </ul>
                                    </div>
                                 <a href="{% url 'admin_pets' admid=i.id %}" ><img src="{{i.petimg.url}}" width="300px" height="300px"></a>
                                </div>
                                <div class="down-content">
                                    <h4>{{i.breed}}</h4>
                                    <span> rs {{i.price}}</span>

                                </div>
                            </div>

                         </div>

            {% endfor %}
            </div>


        </div>



    </section>
<!--                            <div class="item">-->
<!--                                <div class="thumb">-->
<!--                                    <div class="hover-content">-->
<!--                                        <ul>-->
<!--                                            <li><a href="single-product.html"><i class="fa fa-eye"></i></a></li>-->
<!--                                            <li><a href="single-product.html"><i class="fa fa-star"></i></a></li>-->
<!--                                            <li><a href="single-product.html"><i class="fa fa-shopping-cart"></i></a></li>-->
<!--                                        </ul>-->
<!--                                    </div>-->
<!--                                    <img src="{% static 'assets/images/men-01.jpg' %}" alt="">-->
<!--                                </div>-->
<!--                                <div class="down-content">-->
<!--                                    <h4>Classic Spring</h4>-->
<!--                                    <span>$120.00</span>-->
<!--                                    <ul class="stars">-->
<!--                                        <li><i class="fa fa-star"></i></li>-->
<!--                                        <li><i class="fa fa-star"></i></li>-->
<!--                                        <li><i class="fa fa-star"></i></li>-->
<!--                                        <li><i class="fa fa-star"></i></li>-->
<!--                                        <li><i class="fa fa-star"></i></li>-->
<!--                                    </ul>-->
<!--                                </div>-->
<!--                            </div>-->





    <!-- ***** Men Area Ends ***** -->

    <!-- ***** Women Area Starts ***** -->
<!--    <section class="section" id="women">-->
<!--        <div class="container">-->
<!--            <div class="row">-->

<!--                <div class="col-lg-6">-->
<!--                    <div class="section-heading">-->
<!--                        <h2>Women's Latest</h2>-->
<!--                        <span>Details to details is what makes Hexashop different from the other themes.</span>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="container">-->
<!--            <div class="row">-->

<!--                <div class="col-lg-12">-->
<!--                    <div class="women-item-carousel">-->
<!--                        <div class="owl-women-item owl-carousel">-->
<!--                            <div class="item">-->
<!--                                <div class="thumb">-->
<!--                                    <div class="hover-content">-->
<!--                                        <ul>-->
<!--                                            <li><a href="single-product.html"><i class="fa fa-eye"></i></a></li>-->
<!--                                            <li><a href="single-product.html"><i class="fa fa-star"></i></a></li>-->
<!--                                            <li><a href="single-product.html"><i class="fa fa-shopping-cart"></i></a></li>-->
<!--                                        </ul>-->
<!--                                    </div>-->
<!--                                    <img src="{% static 'assets/images/women-01.jpg' %}" alt="">-->
<!--                                </div>-->
<!--                                <div class="down-content">-->
<!--                                    <h4></h4>-->
<!--                                    <span>$75.00</span>-->
<!--                                    <ul class="stars">-->
<!--                                        <li><i class="fa fa-star"></i></li>-->
<!--                                        <li><i class="fa fa-star"></i></li>-->
<!--                                        <li><i class="fa fa-star"></i></li>-->
<!--                                        <li><i class="fa fa-star"></i></li>-->
<!--                                        <li><i class="fa fa-star"></i></li>-->
<!--                                    </ul>-->
<!--                                </div>-->
<!--                            </div>-->

<!--&lt;!&ndash;                            <div class="item">&ndash;&gt;-->
<!--&lt;!&ndash;                                <div class="thumb">&ndash;&gt;-->
<!--&lt;!&ndash;                                    <div class="hover-content">&ndash;&gt;-->
<!--&lt;!&ndash;                                        <ul>&ndash;&gt;-->
<!--&lt;!&ndash;                                            <li><a href="single-product.html"><i class="fa fa-eye"></i></a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                                            <li><a href="single-product.html"><i class="fa fa-star"></i></a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                                            <li><a href="single-product.html"><i class="fa fa-shopping-cart"></i></a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                                        </ul>&ndash;&gt;-->
<!--&lt;!&ndash;                                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                    <img src="{% static 'assets/images/women-02.jpg' %}" alt="">&ndash;&gt;-->
<!--&lt;!&ndash;                                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                <div class="down-content">&ndash;&gt;-->
<!--&lt;!&ndash;                                    <h4>Classic Dress</h4>&ndash;&gt;-->
<!--&lt;!&ndash;                                    <span>$45.00</span>&ndash;&gt;-->
<!--&lt;!&ndash;                                    <ul class="stars">&ndash;&gt;-->
<!--&lt;!&ndash;                                        <li><i class="fa fa-star"></i></li>&ndash;&gt;-->
<!--&lt;!&ndash;                                        <li><i class="fa fa-star"></i></li>&ndash;&gt;-->
<!--&lt;!&ndash;                                        <li><i class="fa fa-star"></i></li>&ndash;&gt;-->
<!--&lt;!&ndash;                                        <li><i class="fa fa-star"></i></li>&ndash;&gt;-->
<!--&lt;!&ndash;                                        <li><i class="fa fa-star"></i></li>&ndash;&gt;-->
<!--&lt;!&ndash;                                    </ul>&ndash;&gt;-->
<!--&lt;!&ndash;                                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                            <div class="item">&ndash;&gt;-->
<!--&lt;!&ndash;                                <div class="thumb">&ndash;&gt;-->
<!--&lt;!&ndash;                                    <div class="hover-content">&ndash;&gt;-->
<!--&lt;!&ndash;                                        <ul>&ndash;&gt;-->
<!--&lt;!&ndash;                                            <li><a href="single-product.html"><i class="fa fa-eye"></i></a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                                            <li><a href="single-product.html"><i class="fa fa-star"></i></a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                                            <li><a href="single-product.html"><i class="fa fa-shopping-cart"></i></a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                                        </ul>&ndash;&gt;-->
<!--&lt;!&ndash;                                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                    <img src="{% static 'assets/images/women-03.jpg' %}" alt="">&ndash;&gt;-->
<!--&lt;!&ndash;                                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                <div class="down-content">&ndash;&gt;-->
<!--&lt;!&ndash;                                    <h4>Spring Collection</h4>&ndash;&gt;-->
<!--&lt;!&ndash;                                    <span>$130.00</span>&ndash;&gt;-->
<!--&lt;!&ndash;                                    <ul class="stars">&ndash;&gt;-->
<!--&lt;!&ndash;                                        <li><i class="fa fa-star"></i></li>&ndash;&gt;-->
<!--&lt;!&ndash;                                        <li><i class="fa fa-star"></i></li>&ndash;&gt;-->
<!--&lt;!&ndash;                                        <li><i class="fa fa-star"></i></li>&ndash;&gt;-->
<!--&lt;!&ndash;                                        <li><i class="fa fa-star"></i></li>&ndash;&gt;-->
<!--&lt;!&ndash;                                        <li><i class="fa fa-star"></i></li>&ndash;&gt;-->
<!--&lt;!&ndash;                                    </ul>&ndash;&gt;-->
<!--&lt;!&ndash;                                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                            <div class="item">&ndash;&gt;-->
<!--&lt;!&ndash;                                <div class="thumb">&ndash;&gt;-->
<!--&lt;!&ndash;                                    <div class="hover-content">&ndash;&gt;-->
<!--&lt;!&ndash;                                        <ul>&ndash;&gt;-->
<!--&lt;!&ndash;                                            <li><a href="single-product.html"><i class="fa fa-eye"></i></a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                                            <li><a href="single-product.html"><i class="fa fa-star"></i></a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                                            <li><a href="single-product.html"><i class="fa fa-shopping-cart"></i></a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                                        </ul>&ndash;&gt;-->
<!--&lt;!&ndash;                                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                    <img src="{% static 'assets/images/women-01.jpg' %}" alt="">&ndash;&gt;-->
<!--&lt;!&ndash;                                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                <div class="down-content">&ndash;&gt;-->
<!--&lt;!&ndash;                                    <h4>Classic Spring</h4>&ndash;&gt;-->
<!--&lt;!&ndash;                                    <span>$120.00</span>&ndash;&gt;-->
<!--&lt;!&ndash;                                    <ul class="stars">&ndash;&gt;-->
<!--&lt;!&ndash;                                        <li><i class="fa fa-star"></i></li>&ndash;&gt;-->
<!--&lt;!&ndash;                                        <li><i class="fa fa-star"></i></li>&ndash;&gt;-->
<!--&lt;!&ndash;                                        <li><i class="fa fa-star"></i></li>&ndash;&gt;-->
<!--&lt;!&ndash;                                        <li><i class="fa fa-star"></i></li>&ndash;&gt;-->
<!--&lt;!&ndash;                                        <li><i class="fa fa-star"></i></li>&ndash;&gt;-->
<!--&lt;!&ndash;                                    </ul>&ndash;&gt;-->
<!--&lt;!&ndash;                                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                            </div>&ndash;&gt;-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->
    <!-- ***** Women Area Ends ***** -->

    <!-- ***** Kids Area Starts ***** -->
<!--    <section class="section" id="kids">-->
<!--        <div class="container">-->
<!--            <div class="row">-->
<!--                <div class="col-lg-6">-->
<!--                    <div class="section-heading">-->
<!--                        <h2>Kid's Latest</h2>-->
<!--                        <span>Details to details is what makes Hexashop different from the other themes.</span>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="container">-->
<!--            <div class="row">-->
<!--                <div class="col-lg-12">-->
<!--                    <div class="kid-item-carousel">-->
<!--                        <div class="owl-kid-item owl-carousel">-->
<!--                            <div class="item">-->
<!--                                <div class="thumb">-->
<!--                                    <div class="hover-content">-->
<!--                                        <ul>-->
<!--                                            <li><a href="single-product.html"><i class="fa fa-eye"></i></a></li>-->
<!--                                            <li><a href="single-product.html"><i class="fa fa-star"></i></a></li>-->
<!--                                            <li><a href="single-product.html"><i class="fa fa-shopping-cart"></i></a></li>-->
<!--                                        </ul>-->
<!--                                    </div>-->
<!--                                    <img src="{% static 'assets/images/kid-01.jpg' %}" alt="">-->
<!--                                </div>-->
<!--                                <div class="down-content">-->
<!--                                    <h4>School Collection</h4>-->
<!--                                    <span>$80.00</span>-->
<!--                                    <ul class="stars">-->
<!--                                        <li><i class="fa fa-star"></i></li>-->
<!--                                        <li><i class="fa fa-star"></i></li>-->
<!--                                        <li><i class="fa fa-star"></i></li>-->
<!--                                        <li><i class="fa fa-star"></i></li>-->
<!--                                        <li><i class="fa fa-star"></i></li>-->
<!--                                    </ul>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="item">-->
<!--                                <div class="thumb">-->
<!--                                    <div class="hover-content">-->
<!--                                        <ul>-->
<!--                                            <li><a href="single-product.html"><i class="fa fa-eye"></i></a></li>-->
<!--                                            <li><a href="single-product.html"><i class="fa fa-star"></i></a></li>-->
<!--                                            <li><a href="single-product.html"><i class="fa fa-shopping-cart"></i></a></li>-->
<!--                                        </ul>-->
<!--                                    </div>-->
<!--                                    <img src="{% static 'assets/images/kid-02.jpg' %}" alt="">-->
<!--                                </div>-->
<!--                                <div class="down-content">-->
<!--                                    <h4>Summer Cap</h4>-->
<!--                                    <span>$12.00</span>-->
<!--                                    <ul class="stars">-->
<!--                                        <li><i class="fa fa-star"></i></li>-->
<!--                                        <li><i class="fa fa-star"></i></li>-->
<!--                                        <li><i class="fa fa-star"></i></li>-->
<!--                                        <li><i class="fa fa-star"></i></li>-->
<!--                                        <li><i class="fa fa-star"></i></li>-->
<!--                                    </ul>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="item">-->
<!--                                <div class="thumb">-->
<!--                                    <div class="hover-content">-->
<!--                                        <ul>-->
<!--                                            <li><a href="single-product.html"><i class="fa fa-eye"></i></a></li>-->
<!--                                            <li><a href="single-product.html"><i class="fa fa-star"></i></a></li>-->
<!--                                            <li><a href="single-product.html"><i class="fa fa-shopping-cart"></i></a></li>-->
<!--                                        </ul>-->
<!--                                    </div>-->
<!--                                    <img src="{% static 'assets/images/kid-03.jpg' %}" alt="">-->
<!--                                </div>-->
<!--                                <div class="down-content">-->
<!--                                    <h4>Classic Kid</h4>-->
<!--                                    <span>$30.00</span>-->
<!--                                    <ul class="stars">-->
<!--                                        <li><i class="fa fa-star"></i></li>-->
<!--                                        <li><i class="fa fa-star"></i></li>-->
<!--                                        <li><i class="fa fa-star"></i></li>-->
<!--                                        <li><i class="fa fa-star"></i></li>-->
<!--                                        <li><i class="fa fa-star"></i></li>-->
<!--                                    </ul>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="item">-->
<!--                                <div class="thumb">-->
<!--                                    <div class="hover-content">-->
<!--                                        <ul>-->
<!--                                            <li><a href="single-product.html"><i class="fa fa-eye"></i></a></li>-->
<!--                                            <li><a href="single-product.html"><i class="fa fa-star"></i></a></li>-->
<!--                                            <li><a href="single-product.html"><i class="fa fa-shopping-cart"></i></a></li>-->
<!--                                        </ul>-->
<!--                                    </div>-->
<!--                                    <img src="{% static 'assets/images/kid-01.jpg' %}" alt="">-->
<!--                                </div>-->
<!--                                <div class="down-content">-->
<!--                                    <h4>Classic Spring</h4>-->
<!--                                    <span>$120.00</span>-->
<!--                                    <ul class="stars">-->
<!--                                        <li><i class="fa fa-star"></i></li>-->
<!--                                        <li><i class="fa fa-star"></i></li>-->
<!--                                        <li><i class="fa fa-star"></i></li>-->
<!--                                        <li><i class="fa fa-star"></i></li>-->
<!--                                        <li><i class="fa fa-star"></i></li>-->
<!--                                    </ul>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->
    <!-- ***** Kids Area Ends ***** -->

    <!-- ***** Explore Area Starts ***** -->
<!--    <section class="section" id="explore">-->
<!--        <div class="container">-->
<!--            <div class="row">-->
<!--                <div class="col-lg-6">-->
<!--                    <div class="left-content">-->
<!--                        <h2>Explore Our Products</h2>-->
<!--                        <span>You are allowed to use this HexaShop HTML CSS template. You can feel free to modify or edit this layout. You can convert this template as any kind of ecommerce CMS theme as you wish.</span>-->
<!--                        <div class="quote">-->
<!--                            <i class="fa fa-quote-left"></i><p>You are not allowed to redistribute this template ZIP file on any other website.</p>-->
<!--                        </div>-->
<!--                        <p>There are 5 pages included in this HexaShop Template and we are providing it to you for absolutely free of charge at our TemplateMo website. There are web development costs for us.</p>-->
<!--                        <p>If this template is beneficial for your website or business, please kindly <a rel="nofollow" href="https://paypal.me/templatemo" target="_blank">support us</a> a little via PayPal. Please also tell your friends about our great website. Thank you.</p>-->
<!--                        <div class="main-border-button">-->
<!--                            <a href="products.html">Discover More</a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-lg-6">-->
<!--                    <div class="right-content">-->
<!--                        <div class="row">-->
<!--                            <div class="col-lg-6">-->
<!--                                <div class="leather">-->
<!--                                    <h4>Leather Bags</h4>-->
<!--                                    <span>Latest Collection</span>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="col-lg-6">-->
<!--                                <div class="first-image">-->
<!--                                    <img src="{% static 'assets/images/explore-image-01.jpg' %}" alt="">-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="col-lg-6">-->
<!--                                <div class="second-image">-->
<!--                                    <img src="{% static 'assets/images/explore-image-02.jpg' %}" alt="">-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="col-lg-6">-->
<!--                                <div class="types">-->
<!--                                    <h4>Different Types</h4>-->
<!--                                    <span>Over 304 Products</span>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->
    <!-- ***** Explore Area Ends ***** -->

    <!-- ***** Social Area Starts ***** -->
<!--    <section class="section" id="social">-->
<!--        <div class="container">-->
<!--            <div class="row">-->
<!--                <div class="col-lg-12">-->
<!--                    <div class="section-heading">-->
<!--                        <h2>Social Media</h2>-->
<!--                        <span>Details to details is what makes Hexashop different from the other themes.</span>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="container">-->
<!--            <div class="row images">-->
<!--                <div class="col-2">-->
<!--                    <div class="thumb">-->
<!--                        <div class="icon">-->
<!--                            <a href="http://instagram.com">-->
<!--                                <h6>Fashion</h6>-->
<!--                                <i class="fa fa-instagram"></i>-->
<!--                            </a>-->
<!--                        </div>-->
<!--                        <img src="{% static 'assets/images/instagram-01.jpg' %}" alt="">-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-2">-->
<!--                    <div class="thumb">-->
<!--                        <div class="icon">-->
<!--                            <a href="http://instagram.com">-->
<!--                                <h6>New</h6>-->
<!--                                <i class="fa fa-instagram"></i>-->
<!--                            </a>-->
<!--                        </div>-->
<!--                        <img src="{% static 'assets/images/instagram-02.jpg' %}" alt="">-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-2">-->
<!--                    <div class="thumb">-->
<!--                        <div class="icon">-->
<!--                            <a href="http://instagram.com">-->
<!--                                <h6>Brand</h6>-->
<!--                                <i class="fa fa-instagram"></i>-->
<!--                            </a>-->
<!--                        </div>-->
<!--                        <img src="{% static 'assets/images/instagram-03.jpg' %}" alt="">-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-2">-->
<!--                    <div class="thumb">-->
<!--                        <div class="icon">-->
<!--                            <a href="http://instagram.com">-->
<!--                                <h6>Makeup</h6>-->
<!--                                <i class="fa fa-instagram"></i>-->
<!--                            </a>-->
<!--                        </div>-->
<!--                        <img src="{% static 'assets/images/instagram-04.jpg' %}" alt="">-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-2">-->
<!--                    <div class="thumb">-->
<!--                        <div class="icon">-->
<!--                            <a href="http://instagram.com">-->
<!--                                <h6>Leather</h6>-->
<!--                                <i class="fa fa-instagram"></i>-->
<!--                            </a>-->
<!--                        </div>-->
<!--                        <img src="{% static 'assets/images/instagram-05.jpg' %}" alt="">-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-2">-->
<!--                    <div class="thumb">-->
<!--                        <div class="icon">-->
<!--                            <a href="http://instagram.com">-->
<!--                                <h6>Bag</h6>-->
<!--                                <i class="fa fa-instagram"></i>-->
<!--                            </a>-->
<!--                        </div>-->
<!--                        <img src="{% static 'assets/images/instagram-06.jpg' %}" alt="">-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->
    <!-- ***** Social Area Ends ***** -->

    <!-- ***** Subscribe Area Starts ***** -->
<!--    <div>-->
<!--                  <video width="700px" height="360" controls>-->
<!--        <source src="{% static 'images/pexels_videos_2693 (1080p).mp4' %}" type="video/mp4">-->

<!--    </video>-->
<!--    </div>-->
    <!-- ***** Subscribe Area Ends ***** -->

    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="first-item">
                        <h2 style="color:white">PawShop</h2>
                        <div class="logo">
<!--                            <img src="{% static 'assets/images/paw_and_hand_logo1-removebg-preview.png' %}" alt="Pawshop ecommerce templatemo" style="margin-left:-200px" sizes="20px">-->
                        </div>
                        <ul>
                            <li><a href="#">16501 Collins Ave, Sunny Isles Beach, FL 33160, United States</a></li>
                            <li><a href="#">petsworld297@gmail.com</a></li>
                            <li><a href="#">010-020-0340</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <h4>Breeds</h4>
                    <ul>
                        <li><a href="#">Dogs</a></li>
                        <li><a href="#">Cats</a></li>
                        <li><a href="#">Birds</a></li>
                        <li><a href="#">Aquatic Fishes</a></li>
                        <li><a href="#">otherss</a></li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><a href="#">Homepage</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Help</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <h4>categories</h4>
                    <ul>
                        <li><a href="#">Pet Foods</a></li>
                        <li><a href="#">accessories</a></li>
                        <li><a href="#">Grooming things</a></li>
                        <li><a href="#">supplements</a></li>
                    </ul>
                </div>
                <div class="col-lg-12">
                    <div class="under-footer">
                        <p>Copyright © 2022 PawShop Co., Ltd. All Rights Reserved.

                        <br>Design: <a href="https://templatemo.com" target="_parent" title="free css templates">TemplateMo</a>

                        <br>Distributed By: <a href="https://themewagon.com" target="_blank" title="free & premium responsive templates">ThemeWagon</a></p>
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <!-- jQuery -->
    <script src="{% static 'assets/js/jquery-2.1.0.min.js' %}"></script>

    <!-- Bootstrap -->
    <script src="{% static 'assets/js/popper.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>

    <!-- Plugins -->
    <script src="{% static 'assets/js/owl-carousel.js' %}"></script>
    <script src="{% static 'assets/js/accordions.js' %}"></script>
    <script src="{% static 'assets/js/datepicker.js' %}"></script>
    <script src="{% static 'assets/js/scrollreveal.min.js' %}"></script>
    <script src="{% static 'assets/js/waypoints.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'assets/js/imgfix.min.js' %}"></script>
    <script src="{% static 'assets/js/slick.js' %}"></script>
    <script src="{% static 'assets/js/lightbox.js' %}"></script>
    <script src="{% static 'assets/js/isotope.js' %}"></script>

    <!-- Global Init -->
    <script src="{% static 'assets/js/custom.js' %}"></script>

    <script>

        $(function() {
            var selectedClass = "";
            $("p").click(function(){
            selectedClass = $(this).attr("data-rel");
            $("#portfolio").fadeTo(50, 0.1);
                $("#portfolio div").not("."+selectedClass).fadeOut();
            setTimeout(function() {
              $("."+selectedClass).fadeIn();
              $("#portfolio").fadeTo(50, 1);
            }, 500);

            });
        });







    </script>
    	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>



    <script>
let slideIndex = 0;
showSlides();

function showSlides() {
  let i;
  let slides = document.getElementsByClassName("mySlides");
  let dots = document.getElementsByClassName("dot");
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  slideIndex++;
  if (slideIndex > slides.length) {slideIndex = 1}
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
  setTimeout(showSlides, 2000); // Change image every 2 seconds
}
</script>


{% if messages %}
{% for i in messages %}
{% if i.tags == 'warning' %}
<script>
    swal('{{i}}','','warning')
</script>
{% elif i.tags == 'error' %}
<script>
    swal('{{i}}','','error')
</script>
{% elif i.tags == 'success' %}
<script>
    swal('{{i}}','','success')
</script>
{% else %}
<script>
  swal('{{i}}','','info')
  </script>
{% endif %}
{% endfor %}
{% endif %}


  </body>
</html>